.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: rgba(0, 0, 0, 0.3);
}

.fade:not(.show) {
  opacity: 0;
}

.fade {
  transition: opacity 0.15s linear;
}

.modal.show {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal.fade .modal__dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

.modal.show .modal__dialog {
  transform: none;
}

.modal__dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal__content {
  position: relative;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal__header {
  padding: 1rem 1rem;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding: 0;
  background-color: transparent;
  border: 0;
  appearance: none;
  cursor: pointer;
  outline: none;
}

.modal__body {
  position: relative;
  padding: 1rem;
}

.modal__footer {
  padding: 0.75rem;
}

@media (min-width: 576px) {
  .modal__dialog {
    max-width: 600px;
    margin: 100px auto 1.75rem;
  }
}
